

html {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

.row {
	width: 1140px;
	margin: 0 auto;
}
.clearfix{zoom: 1}
.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*-------------------*/
   /*Heading/
/*-------------------*/

header {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
	height: 100vh;
	 background-attachment: fixed; 
	background-size: cover;
	background-position: top;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-text-box h1 {
	font-size: 50px;
	text-transform: uppercase;
	color: white;
	font-weight: 300;
	margin: 0;
	margin-bottom: 20px;
}
/*-------------------*/
   /*Buttons*/
/*-------------------*/



.but1,
input[type=submit] {
	
	font-size: 15px;

	margin-right: 10px;
	border-radius: 200px;
	border: 1px solid orange;
	padding: 10px 30px;
	text-decoration: none;
	color: white;
	background-color: #e67e22;
	text-align: center;
	transition: background-color 0.5s;
}


.but2 {
		top: 0;
	font-size: 15px;

	padding: 10px 30px;
	border: 1px solid orange;
	border-radius: 200px;
	text-decoration: none;
	color: white;
	text-align: center;
	transition: background-color 0.5s;

}
.but3 {
	color: black;
}

.but1:hover,
input[type=submit]:hover{

	border: 1px solid #e67e22;

	background-color: orange;

}

.but2:hover {
	background-color: rgba(231, 126, 35, 0.51);
}

/*-------------------*/
   /*Navigation*/
/*-------------------*/

.cent {
	margin: 0 10%;
}

.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}


.main-nav li {
	display: inline-block;
	margin-left: 30px;
}

.main-nav li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;

}


.main-nav li a:hover {
	border-bottom: 2px solid #e67e22;

}

/*-------------------*/
   /*sticky nav*/
/*-------------------*/
.sticky-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 2px 1px #efefef;
	z-index: 9999;
}

.sticky-nav .main-nav li a {
	color: #555;
	padding-bottom: 15px;
}

.sticky-nav .logo-black {
	display: block;
}

.sticky-nav .logo {
	display: none;
}

.logo-black {
	display: none;
	height: 40px;
	width: auto;
	float: left;
	margin: 5px 0;

}

.sticky-nav .main-nav {

	margin-top: 10px;
}

.burger-nav {
	float: right;
	margin-top: 30px;
	display: none;
	cursor: pointer;

}

.burger-nav i {
	color: white;
	font-size: 30px;
}



/*-------------------*/
   /*section 1*/
/*-------------------*/
.section-one {
	padding-top: 50px;

}
.section-one h1, .cent h1 {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	word-spacing: 2px;
	margin-top: 0;
}

.section-one h1 {
	margin-top: 10px;
}

.section-one h1::after, .cent h1::after {

	display: block;
	content: "";
	width: 200px;
	height: 1px;
	background-color: #e67e22;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.section-one .first-text{
	width: 60%;
	margin-left: 20%;
	text-align: center;
}
.box {
	padding-bottom: 30px;
}
.box h3 {
	margin-top: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.box p {
	font-size: 16px;
}

.box i {
	font-size: 50px;
	color: #e67e22;
}


/*-------------------*/
/*section 1 animation*/
/*-------------------*/
.js--wp1, 
.js--wp2,
.js--wp3{
	opacity: 0;
}

.js--wp1 .animated,
.js--wp2 .animated,
.js--wp3 .animated{
	opacity: 1;
}







/*-------------------*/
   /*Meal Showcase*/
/*-------------------*/


.meals-showcase:first-child {
	margin-bottom: 0;
}
.meals-showcase:last-child {
	margin-top: 0;
}
.meals-showcase {
	
	padding: 0;
	list-style: none;
	width: 100%;
}

.meals-showcase li {
	display: block;
	float: left;
	width: 25%;

}

.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.meal-photo img {
	opacity: 0.7;

	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 1s,opacity 1s;
	
}

.meal-photo img:hover {
	transform: scale(1.02);
	opacity: 1;
}


/*-------------------*/
   /*How it works*/
/*-------------------*/

.section-steps {
	background-color: #f4f4f4;
	padding-top: 50px;
	padding-bottom: 50px;
}


.steps-box {
	margin-top: 30px;
	padding-bottom: 50px;
}

.steps-box:first-child {
	
	margin:0;
	

}

.steps-box:last-child {
	margin: 0;


}

.app-screen {
	width: 30%;
	padding-left: 40%;
}

.works-steps {
	margin-bottom: 40px;
	font-size: 20px;
}
.works-steps div {
	color: #e67e22;
	border: 1px solid #e67e22;
	display: inline-block;
	border-radius: 50%;
	padding: 10px 15px;
	float: left;


}

.works-steps p {
	margin-left: 60px;
}

.btn-app img{
	width: auto;
	height: 50px;
	margin-right: 10px;

}


/*-------------------*/
   /*Section Cities*/
/*-------------------*/

/*.section-cities {
	padding-top: 50px;
}*/

.cities-box {
	padding-top: 10px;
}

.cities-box img {
	width: 90%;
}


.cities-box h3{
	font-weight: 400;
}

.section-cities i{
	color: #e67e22;


}

.cities-box p{
	line-height: 24px;
}

.cities-box a,
.cities-box a:visited{
	padding-bottom: 2px;
	color: #e67e22;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s, color 0.5s;
}

.cities-box a:hover,
.cities-box a:active{
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #e67e22;
	
	
	
}

/*-------------------*/
  /*Customer Section*/
/*-------------------*/

.customers {
	background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/back-customers.jpg);
	background-size: cover;
	color: white;
	padding-top: 20px;
	background-attachment: fixed;
}


.customers .customer-item {

	margin: 0;
	margin-top: 20px;
}

.customers blockquote {
	margin-top: 0;
	padding-bottom: 20px;
	font-style: italic;
	position: relative;
}

.customers blockquote img {
	height: 50px;
	border-radius: 50%;
	vertical-align: middle;

}

.customers blockquote span {

	margin-left: 10px
}
.customers blockquote cite {
	margin-top: 10px;
	font-size: 14px;
	display: inline-block;
}

.customers blockquote:before {
	display: block;
	content:"\201C";
	font-size: 50px;
	position: absolute;
	top: -35px;

}

/*-------------------*/
   /*Subscription*/
/*-------------------*/




.plans h2 {
	font-weight: 300;
	margin-bottom: 0;
}

.plans ul {
	list-style: none;
	padding-left: 0;
}

.plans ul li {
	padding-left: 10px;
	padding-bottom: 5px;
}

.plans {
	background-color: #f4f4f4;
	padding-bottom: 20px;
	padding-top: 50px;
    border-top: 1px solid black;

}

.plan-box {

	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	padding-bottom: 20px;
	margin-top: 5px;
box-shadow: 0  2px 2px #d9d9d9;
}

.plan-box div {
	padding: 10px;
	
}

.plan-box .plan-price {
	font-size: 50px;
	margin: 0;
	color: #e67e22;
}

.plan-box .plan-price-meals {
	margin:0;
	margin-top: 3px;
	padding-bottom: 5px;
}


.plan-box .plan-price span {
	font-size: 18px;
}




.plan-box .but3 {
	padding-bottom: 9px;
}

.plan-box i{
	
	color: #00b300;
	font-size: 18px;
	 padding-right: 13px;
}

.plan-box .but {
	text-align: center;
	width: 90%;
	vertical-align: middle;
}
 .plan-box .box-heading {
 	background-color: #e9e9e9;
 }



/*-------------------*/
   /*Form Section*/
/*-------------------*/


.form {
	padding-bottom: 50px;
}



.contact-form {
	width: 60%;
	margin: 0 auto;
}


input[type=text],
input[type=email],
select,
textarea {
		font-size: 13px;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	width: 100%;
	padding: 7px;
	border-radius: 5px;
	box-shadow: none;
	border: 1px solid #ccc;
	margin-bottom: 10px;

}

input[type=submit] {
	font-family: "Lato", sans-serif;
	font-size: 15px;
	font-weight: 300;


}

textarea {
	height: 100px;
	resize: none;
}

input[type=checkbox] {
	margin-top: 10px;
	margin-bottom: 15px;
	
}

input:active,input:focus,select:active,select:focus,textarea:active,textarea:focus {
		transition: border-color 0.3s;
	border-color:  #e67e22;
	outline: none;

}

/*-------------------*/
   /*Footer*/
/*-------------------*/

footer {
	background-color: #333;
	color: #cccccc;
	text-align: center;


}


footer p {
	padding-bottom: 30px;
	margin-top: 0px;
	margin-bottom: 0;
	font-size: 15px;
	color: #737373;
}


footer ul li a{
	color: #cccccc;
	text-decoration: none;
	margin-right: 20px;
	transition: color 0.2s;

}

footer ul {
	list-style: none;

}

footer ul li {
		display: inline-block;
}


.footer-nav {
	padding-left: 0;
	float: left;
	margin-bottom: 0; 
}

footer .socials {
	float: right;
	font-size: 20px;
		margin-bottom: 0; 
		margin-top: 10px;
}

footer .last {
	margin-right: 0;
}

.socials {
	padding-left: 0;
}

footer ul li a:hover{
	color: #8c8c8c;

}

